Source: gooroom-showdesktop-applet
Section: gnome
Priority: optional
Maintainer: Gooroom Maintainers <gooroom@gooroom.kr>
Build-Depends: automake (>=1.13),
               debhelper (>= 10),
               gnome-pkg-tools (>= 0.17),
               gnome-common (>=3.18.0),
               intltool (>= 0.35.0),
               libglib2.0-dev (>= 2.44.0),
               libgtk-3-dev (>= 3.20.0),
               libpanel-applet-dev (>= 3.24.1),
               libwnck-3-dev (>=3.4.6)
Standards-Version: 3.9.6
Homepage: http://www.gooroom.kr
Vcs-Git: https://github.com/gooroom/gooroom-showdesktop-applet.git
Vcs-Browser: https://github.com/gooroom/gooroom-showdesktop-applet

Package: gooroom-showdesktop-applet
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Showing desktop applet for GNOME panel
 Hide all application windows and show the desktop.
